In [ ]:
import pandas as pd
import os
from pprint import pp as pprint

In [ ]:
try:
    df= pd.read_csv(os.path.join('salaries_by_college_major.csv'))
except FileNotFoundError:
    print("File not found!")
except pd.errors.EmptyDataError:
    print("Empty CSV file!")

df.shape

In [ ]:
df.columns

In [ ]:
df.tail()

In [ ]:
clean_df = df.dropna()

In [ ]:
clean_df

In [ ]:
clean_df['Starting Median Salary']

In [15]:
clean_df['Starting Median Salary'].max()

74300.0

In [16]:
index=clean_df['Starting Median Salary'].idxmax()
clean_df['Undergraduate Major'].loc[index]

'Physician Assistant'

In [17]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [18]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16